# MySQL
MYSQL_ROOT_PASSWORD=<your_pass>
MYSQL_DATABASE=<name_app>
MYSQL_USER=<your_user>
MYSQL_PASSWORD=<your_pass>

# Timezone
TIMEZONE=America/Bogota

# project name 
PROJECT_NAME: <project_name>
# Domain
DOMAIN_CRONS=<service_name/domain>
